<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layouts/main10.html}" >
<head th:replace="layouts/fragments::html_head" />

<body>
<div class="container" layout:fragment="content">

    <div class="row">
        <div class="col-md-6">
            <h1><i class="fa-solid fa-ship"></i> View barco</h1>
        </div>
        <div class="col-md-6 align-self-center" style="text-align:right;">
            <a href="#" th:href="@{/barcos/edit/{id}(id=${barco.id})}" th:text="#{app.edit-barco}" class="btn btn-primary"> Edit barco</a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/welcome}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/menu}"><i class="fa-solid fa-bars"></i> Menu</a></li>
            <li class="breadcrumb-item"><a th:href="@{/barcos/list}" th:text="#{app.list-barcos}">List</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{app.view-barco}" >View barco</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">

            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <td th:text="${barco.Id}"></td>
                </tr>
                <tr>
                    <th th:text="#{title}">Title</th>
                    <td th:text="${barco.title}"></td>
                </tr>
                <tr>
                    <th th:text="#{year}">Year</th>
                    <td th:text="${barco.year}"></td>
                </tr>
                <tr>
                    <th th:text="#{weight}">Weight</th>
                    <td th:text="${barco.weight}"></td>
                </tr>
                <tr>
                    <th th:text="#{speedometer}">Speedometer</th>
                    <td th:text="${barco.speedometer}"></td>
                </tr>

                <tr>
                    <th th:text="#{description}">Description</th>
                    <td th:text="${barco.description}"></td>
                </tr>

                <tr>
                    <th>Created</th>
                    <td th:text="${barco.createdAt} ? ${#dates.format(barco.createdAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td th:text="${barco.updatedAt} ? ${#dates.format(barco.updatedAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
            </table>

        </div>
    </div>

    <br/><br/>

    <div class="card">
        <div class="card-body">

            <h3><i class="fa-solid fa-users"></i> Users</h3>

            111111111

        </div>
    </div>

    <br/><br/>

    <a href="#" th:href="@{/barcos/list}" th:text="#{app.back}" class="btn btn-secondary"> Back</a>

    <br/><br/>

</div>
</body>
</html>

