<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1 th:text="#{app.view-invoice}">View invoice</h1>
        </div>
        <div class="col-md-6 align-self-center" style="text-align:right;">
            <a href="#" th:href="@{/invoices/edit/1}" th:text="#{app.edit-invoice}" class="btn btn-primary"> Edit invoice</a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/welcome}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/menu}">Menu</a></li>
            <li class="breadcrumb-item"><a th:href="@{/invoices/list}" th:text="#{app.list-invoices}">List</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{app.view-invoice}" >View invoice</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">

            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <td th:text="${invoice.Id}"></td>
                </tr>
                <tr>
                    <th th:text="#{title}">Title</th>
                    <td th:text="${invoice.title}"></td>
                </tr>
                <tr>
                    <th th:text="#{description}">Description</th>
                    <td th:text="${invoice.description}"></td>
                </tr>

                <tr>
                    <th th:text="#{amount}">Amount</th>
                    <td th:text="${invoice.amount}"></td>
                </tr>
                <tr>
                    <th th:text="#{status}">Status</th>
                    <td th:text="#{'status_' + ${invoice.status}}"></td>
                </tr>

                <tr>
                    <th>Created</th>
                    <td th:text="${invoice.createdAt} ? ${#dates.format(invoice.createdAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td th:text="${invoice.updatedAt} ? ${#dates.format(invoice.updatedAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
            </table>

        </div>
    </div>

    <br/><br/>

    <div class="card">
        <div class="card-body">

            <h3>Storehouses</h3>

            ///

        </div>
    </div>

    <br/><br/>

    <a href="#" th:href="@{/invoices/list}" th:text="#{app.back}" class="btn btn-secondary"> Back</a>

    <br/><br/>

</div>
</body>
</html>

