<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1 th:text="#{app.view-city}">View city</h1>
        </div>
        <div class="col-md-6 align-self-center" style="text-align:right;">
            <a href="#" th:href="@{/cities/edit/1}" th:text="#{app.edit-city}" class="btn btn-primary"> Edit city</a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/welcome}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/menu}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{app.view-city}" >View city</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">

            <table >
                <tr>
                    <th>ID</th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>1111111</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>decrr text</td>
                </tr>
            </table>

        </div>
    </div>

    <br/><br/>

    <a href="#" th:href="@{/cities/list}" th:text="#{app.back}" class="btn btn-secondary"> Back</a>

    <br/><br/>

</div>
</body>
</html>

