<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1 th:text="#{app.list-products}">List of products</h1>
        </div>
        <div class="col-md-6 align-self-center" style="text-align:right;">
            <a href="#" th:href="@{/products/add}" th:text="#{app.add-product}" class="btn btn-primary"> Add product</a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/welcome}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/menu}">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{app.list-products}" >List of products</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center" style="width:50px;" th:text="#{id}"/></th>
                    <th th:text="#{title}"></th>

                    <th class="text-center" th:text="#{weight}"></th>
                    <th class="text-center" th:text="#{is_dangerous}"></th>
                    <th class="text-center" th:text="#{is_glass}"></th>

                    <th class="text-center" th:text="#{page.actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td class="text-center" style="width:30px;" th:text="${product.Id}">Id</td>
                    <td>
                        <a href="#" th:href="@{'/products/' + ${product.id}}" th:text="${product.title}">Title</a>
                    </td>

                    <td class="text-center" th:text="${product.weight}"></td>
                    <td class="text-center" th:text="${product.isDangerous}"></td>
                    <td class="text-center" th:text="${product.isGlass}"></td>

                    <td class="text-center" style="width:150px;">
                        <a href="#" th:href="@{'/products/' + ${product.id}}">view</a> |
                        <a href="#" th:href="@{'/products/edit/' + ${product.id}}">edit</a> |
                        <a href="#" th:href="@{'/products/delete/' + ${product.id}}">delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <br/><br/>

</div>
</body>
</html>

