<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome-free-6.6.0-web/css/all.min.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1><i class="fa-regular fa-credit-card"></i> Edit card</h1>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/welcome}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/menu}">Menu</a></li>
            <li class="breadcrumb-item"><a th:href="@{/cards/list}" th:text="#{app.list-cards}">List</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{app.edit-card}" >Edit card</li>
        </ol>
    </nav>

    <form action="#" th:action="@{/cards/update/{id}(id=${card.id})}" th:object="${card}" method="post">

        <input type="hidden" name="cardId" th:value="${card.Id}" />

        <div class="card">
            <div class="card-body">

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <label for="title1" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title1" th:field="*{title}">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;">Title error</span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <label for="number1" class="form-label">Number</label>
                        <input type="text" class="form-control" id="number1" th:field="*{number}">
                        <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}" style="color:red;">Number error</span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <label for="type1" class="form-label">Type</label>
                        <input type="text" class="form-control" id="type1" th:field="*{type}">
                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color:red;">Type error</span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-4">
                        <label for="month1" class="form-label">Month</label>
                        <input type="text" class="form-control" id="month1" th:field="*{month}">
                        <span th:if="${#fields.hasErrors('month')}" th:errors="*{month}" style="color:red;">Month error</span>
                    </div>
                    <div class="col-md-4">
                        <label for="year1" class="form-label">Year</label>
                        <input type="text" class="form-control" id="year1" th:field="*{year}">
                        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" style="color:red;">Year error</span>
                    </div>
                    <div class="col-md-4">
                        <label for="cvv1" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cvv1" th:field="*{cvv}">
                        <span th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}" style="color:red;">CVV error</span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <label for="cc1" class="form-label">Currency</label>
                        <input type="text" class="form-control" id="cc1" th:field="*{cc}">
                        <span th:if="${#fields.hasErrors('cc')}" th:errors="*{cc}" style="color:red;">Currency error</span>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-12">
                        <label for="amount1" class="form-label">Amount</label>
                        <input type="text" class="form-control" id="amount1" th:field="*{amount}">
                        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color:red;">Amount error</span>
                    </div>
                </div>

            </div>
        </div>

        <br/>
        <button type="submit" class="btn btn-primary" th:text="#{form.submit}">Submit</button>
        <a href="#" th:href="@{/cards/list}" th:text="#{app.back}" class="btn btn-secondary" style="margin-left:20px;"> Back</a>

    </form>

    <br/><br/>

</div>
</body>
</html>

