<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 th:text="#{app.create-user}">Create</h1>
            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/api/v1/users/web-user-list}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/api/v1/users/web-user-list}">List of users</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add a new user</li>
            </ol>
        </nav>

        <form action="#" th:action="@{/api/v1/users/web-user-add}" th:object="${user}" method="POST">

            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3">
                            <label for="id_id" th:text="#{user.id}" class="col-form-label" />
                            <input id="id_id" type="text" th:field="*{Id}" class="form-control" />
                            <div th:if="${#fields.hasErrors('Id')}" th:text="#{error.user.id}" th:class="'error'">Id Error</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="id_firstname" th:text="#{user.firstname}" class="col-form-label" />
                            <input id="id_firstname" type="text" th:field="*{firstname}" class="form-control" />
                            <div th:if="${#fields.hasErrors('firstname')}" th:text="#{error.user.firstname}" th:class="'error'">Firstname Error</div>
                        </div>

                        <div class="col-md-3">
                            <label for="id_lastname" th:text="#{user.lastname}" class="col-form-label" />
                            <input id="id_lastname" type="text" th:field="*{lastname}" class="form-control" />
                            <div th:if="${#fields.hasErrors('lastname')}" th:text="#{error.user.lastname}" th:class="'error'">Lastname Error</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="id_email" th:text="#{user.email}" class="col-form-label" />
                            <input id="id_email" type="text" th:field="*{email}" class="form-control" />
                            <div th:if="${#fields.hasErrors('email')}" th:text="#{error.user.email}" th:class="'error'">Email Error</div>
                        </div>

                        <div class="col-md-3">
                            <label for="id_password" th:text="#{user.password}" class="col-form-label" />
                            <input id="id_password" type="text" th:field="*{password}" class="form-control" />
                            <div th:if="${#fields.hasErrors('password')}" th:text="#{error.user.password}" th:class="'error'">Password Error</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="id_position" th:text="#{user.position}" class="col-form-label" />
                            <select id="id_position" th:field="*{position}" class="form-select">
                                <option th:each="position : ${positions}" th:value="${position.id}" th:text="${position.title}">Position</option>
                            </select>
                            <div th:if="${#fields.hasErrors('position')}" th:text="#{error.user.position}" th:class="'error'">Position Error</div>
                        </div>
                    </div>

                    <!--table class="table table-striped table-hover">
                        <tbody>
                            <input type="text" th:field="*{position}" />
                            <label th:if="${#fields.hasErrors('position')}" th:text="#{error.user.position_id}" th:class="'error'">Position Error</label>

                            <tr><td th:text="#{user.gender}"></td>
                                <td>
                                    <input type="radio" th:field="*{gender}" value="Male"/><label th:text="#{user.gender.male}">M</label>
                                    <input type="radio" th:field="*{gender}" value="Female"/><label th:text="#{user.gender.female}">F</label>
                                    <label th:if="${#fields.hasErrors('gender')}" th:text="#{error.user.gender}" th:class="'error'">Gender Error</label>
                                </td>
                            </tr>
                            <tr><td th:text="#{user.married}+ '?'"></td>
                                <td>
                                    <input type="checkbox" th:field="*{married}" />
                                </td>
                            </tr>
                        </tbody>
                    </table-->

                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-md-6">
                    <input type="submit" th:value="#{user.form.submit}" class="btn btn-success" />
                    <a href="#" th:href="@{/api/v1/users/web-user-list}" th:value="#{user.form.reset}" class="btn btn-primary">Back</a>
                </div>
            </div>
        </form>

        <br/><br/>
    </div>
</body>
</html>

