<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container" style="background-color:#e7e7e7;">
        <h1 th:text="#{api/v1/users/web-user-add}">Details</h1>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/api/v1/user-web-info}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">List of users</li>
            </ol>
        </nav>

        <table>
            <tr>
                <th th:text="#{user.id}"/></th>
                <th th:text="#{user.firstname}"></th>
                <!--th th:text="#{user.gender}"></th>
                <th th:text="#{user.married}+ '?'"></th>
                <th th:text="#{user.profile}"></th-->
            </tr>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.Id}">Id</td>
                <td th:text="${user.firstname}">Title</td>
                <!--td th:text="${user.gender}">Gender</td>
                <td th:text="${user.married}">Married</td>
                <td th:text="${user.profile}">Profile</td-->
            </tr>
        </table>

        <a href="#" th:href="@{/api/v1/users/web-user-add}" th:text="#{user.add-more-users}">Add User</a>
    </div>
</body>
</html>

