<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1 th:text="#{app.view-user}">View user</h1>
        </div>
        <div class="col-md-6 align-self-center" style="text-align:right;">
            <a href="#" th:href="@{/users/edit/${user.Id}}" th:text="#{app.edit-user}" class="btn btn-primary"> Edit user</a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/welcome}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/menu}">Menu</a></li>
            <li class="breadcrumb-item"><a th:href="@{/users/list}" th:text="#{app.list-users}">List</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{app.view-user}" >View user</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">

            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <td th:text="${user.Id}"></td>
                </tr>
                <tr>
                    <th th:text="#{firstname}">Firstname</th>
                    <td th:text="${user.firstname}"></td>
                </tr>
                <tr>
                    <th th:text="#{lastname}">Lastname</th>
                    <td th:text="${user.lastname}"></td>
                </tr>

                <tr>
                    <th>Position</th>
                    <td th:if="${user.getPosition()} != null">
                        <a href="#" th:href="@{'/positions/' + ${user.position.id}}" th:text="${user.position.title}">Title</a>
                    </td>
                    <td th:else> - </td>
                </tr>

                <tr>
                    <th>E-mail</th>
                    <td th:text="${user.email}"></td>
                </tr>

                <tr>
                    <th>Roles</th>
                    <!--td th:text="${user.getRoles().stream().map(role -> role.getName()).collect(Collectors.toList())}"></td-->
                    <td th:text="${user.getAuthorities()}" ></td>
                </tr>

                <tr>
                    <th th:text="#{bio}">Bio</th>
                    <td th:text="!${user.bio.isEmpty()}? ${user.bio} : '-'"></td>
                </tr>

                <tr>
                    <th>Created</th>
                    <td th:text="${user.createdAt} ? ${#dates.format(user.createdAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td th:text="${user.updatedAt} ? ${#dates.format(user.updatedAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
            </table>

        </div>
    </div>

    <br/><br/>

    <a href="#" th:href="@{/users/list}" th:text="#{app.back}" class="btn btn-secondary"> Back</a>

    <br/><br/>

</div>
</body>
</html>

