<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{app.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1 th:text="#{app.menu}">Menu</h1>
        </div>
        <div class="col-md-6 align-self-center" style="text-align:right;">
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a> | <a th:href="@{/my-registr}">Registration</a>
            </div>
            <!-- Display user information if logged in -->
            <div sec:authorize="isAuthenticated()">
                <p>Hello, <span th:text="${#authentication.principal.username}"></span>!</p>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/welcome}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/menu}" th:text="#{app.menu}" >Menu</a></li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">

            <a th:href="@{/welcome}">Welcome</a> <br/>

            <hr/>

            <a th:href="@{/cities/list}" th:text="#{app.cities}">Cities</a> <br/>
            <a th:href="@{/storehouses/list}" th:text="#{app.storehouses}">Storehouses</a> <br/>
            <a th:href="@{/barcos/list}" th:text="#{app.barcos}">Los Barcos</a> <br/>
            <br/>
            <a th:href="@{/products/list}" th:text="#{app.products}">Products</a> <br/>
            <a th:href="@{/categories/list}" th:text="#{app.categories}">Categories</a> <br/>
            <br/>
            <a sec:authorize-expr="hasAnyAuthority('READ')" th:href="@{/users/list}" th:text="#{app.users}">Users</a> <br/>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/positions/list}" th:text="#{app.positions}">Positions</a> <br/>
            <br/>
            <a th:href="@{/transportations/list}" th:text="#{app.transportations}">Transportations</a> <br/>
            <a th:href="@{/invoices/list}" th:text="#{app.invoices}">Invoices</a> <br/>

            <hr/>

        </div>
    </div>

    <br/><br/>

</div>
</body>
</html>

