<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            SIMPLE
            <br/>
            <a href="https://google.com">LINK to GOOGLE</a>
            <br/>

            <br/>
            <br/>
            <a href="/menu">menu</a>

            <br/>
            <br/>

            <div style="border:2px solid red;">text text text</div>
            <br/>

            <a href="https://instagram.com/" target="_blank">
                <img src="../static/imgs/planeta-java.jpg" width="1000" th:src="@{/imgs/planeta-java.jpg}" alt="planeta-java" />
            </a>

            <br/><br/><br/><br/><br/><br/><br/>
            <img src="../static/imgs/girl-registr.png" width="500" th:src="@{/imgs/girl-registr.png}" alt="girl-registr.png" />

        </div>
    </div>

</div>
</body>
</html>